{{>nav}}
<div class="main">
    <div class="box">
        <h1>Survey Form</h1>
        <form action="form" method="POST">
            <input placeholder="Name here" name="name" type="text">
            <input placeholder="Age here" name="age" type="text">
            <button type="submit">SUBMIT</button>
        </form>
    </div>
</div>